* {
  margin: 0px;
  padding: 0px;
  font-family: 'Fira Sans',
  sans-serif;
}

.navbar_wrapper {
  width: 100%;
  position: Fixed;
  top:0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 8px;

}

.navbar-m{
  display:none;
}
.menu {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
}

.logo {
  width: 30px;
}

.link a {
  text-decoration: none;
  color: #A5A5A5;
  font-weight:700;
}

.menu li {
  margin-left: 20px
}

.menu li::after {
  content: "";
  width: 10%;
  display: block;
  border-bottom: 1px solid transparent;
  transition: .4s;
}

.link:hover::after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid #23222B;
}
.link:hover a{
  color:#23222B;
}
.hamburger-m{
  display:none;
}

.top_section{
  width:100%;
  height:500px;
  background-image:  url('../img/coconut_cover.jpg');
  background-position:50% 35%;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.text_wrapper{
  margin-bottom:25px;
}
.text_wrapper h2{
  font-size:80px;
  margin-bottom:15px;
}
.text_wrapper p{
  font-size:24px;
}

.btn_wrapper{
  display:flex;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom:0%;
  transform:translateY(50%);
}

.avatar img {
  width: 100%;
}

.cardWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:100px 0;
}

.btn {
  width: 120px;
  padding: 18px 8px;
  border-radius: 80px;
  margin: auto 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
   rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
  

.btn a{
  text-decoration: none;
}

.resume{
  background-color: #23222B;
}
.resume:hover{
  box-shadow: inset rgba(159, 159, 159, 0.25) 0px 4px 7px -3px,
  inset rgba(255, 255, 255, 0.3) 0px 3px 5px -3px;
}
.resume a{
  color:white;
}

.github {
  background-color:white;
 
  
}
.github:hover {
  box-shadow: inset rgba(50, 50, 93, 0.25) 0px 4px 7px -3px,
    inset rgba(0, 0, 0, 0.3) 0px 3px 5px -3px;
}
.github a {
  color: #23222B;
}
@media screen and (max-width:414px){
  .menu{
    display:none;
  }
  .navbar-m {
    position:fixed;
    /* 頁面滾動到下方也要出現在固定位置 */
    top:38px;
    z-index: 999;
    opacity:0;
    width:100%;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    transition:.5s;
  }
  .menu-m{
    list-style-type: none;
    margin:10px;
    text-align: right;

  }
  .menu-m li{
    margin-bottom:12px;
  }
  .menu-m li a{
     text-decoration: none;
     color: #A5A5A5;
     font-weight:700;
  }
  
  .hamburger-m{
    display:block;
    font-size:18px;
  }
  .navbar{
    padding:0px;
  }
 .logo {
   width:28px;
   margin:5px 0px 5px 5px;
 }
 .hamburger-m{
    margin:5px 5px 0px 5px;
    color:#A5A5A5;
 }
  
}
